# ==========================================
# PYTHON & ENVIRONMENT
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.ipynb_checkpoints/

# ==========================================
# DATASET & LARGE FILES
# ==========================================
# Don't commit the actual data you just downloaded!
BatteryData/
data/
*.parquet
*.csv
*.zip
*.tar.gz

# ==========================================
# MATLAB & SIMULINK
# ==========================================
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*
*.p
*.mex*
*.mlappinstall
*.mltbx
*.ctf
helpsearch*/
slprj/
sccprj/
codegen/
*.slxc
.MATLABDriveTag
*.mat

# ==========================================
# SYSTEM FILES
# ==========================================
.DS_Store
Thumbs.db